{% extends "base.html" %}

{% block title %}Catlogue d'enchères{% endblock %}

{% block body %}

    <main>
        <section class="recherche_resultats">
         <h1>Resultat de la recherche</h1>
         <ol start="1" type="1">
            {% for resultat in resultats %}
            <li><a href="{{ url_racine }}produit/show/{{ resultat.id }}">{{ resultat.nom }}</a></li>
            {% endfor %}    
        </ul>
        <small>{{countListe}}</small>
        </section>
    </main>

{% endblock %}
