body {
	display: flex;
	flex-direction: column;
}

body > main {
    padding: var(--space-xl);
}

body > main > * + * {
	margin-top: var(--space-xl);
}

main > section {
    margin-top: var(--space-xxl);
}

section > header {
    margin-bottom: var(--space-lg);
} 

/* general */
footer {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

input[type="checkbox"] {
    margin: 0;
}