{% extends "base.html" %}

{% block title %}User{% endblock %}

{% block body %}

<section class="inscription">
    <h1>Formulaire inscription d'utilisteur</h1>

    <form action="store" method="post" class="form_inscription">
        {% if errors is defined %}
        
        <ol>
            {% for error in errors %}
            <li class="error">{{error}}</li>
            {% endfor %}
        </ol>

        {% endif %}
        <div>
            <label for="nom">Nom</label>
            <input type="text" name="nom" id="nom" value="{{data.nom}}">
        </div>
        <div>
            <label for="prenom">Prenom</label>
            <input type="text" name="prenom" id="prenom" value="{{data.prenom}}">
        </div>
        <div>
            <label for="courriel">Courriel</label>
            <input type="email" name="courriel" id="courriel" value="{{data.courriel}}">
        </div>
        <div>
            <label for="mot_de_passe">Mot de passe</label>
            <input type="password" name="mot_de_passe" id="mot_de_passe">
        </div>
            
        <div>
            <input class="bouton" type="submit" value="Enregistrer">
        </div>
</section>

{% endblock %}