{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <section class="connexion">
        <h1>Bienvenue!</h1>
        <form action="auth" method="post" class="form_login">
            <div>
                <label for="courriel">Courriel</label>
                <input type="email" name="courriel" id="courriel">
            </div>
            <div>
                <label for="mot_de_passe">Mot de passe</label>
                <input type="password" name="mot_de_passe" id="mot_de_passe">
            </div>
            <div>
                <input class="bouton" type="submit" value="Se connecter">
            </div>
            <div>
                <span>Nouvel utilisateur? <a href="{{ url_racine }}user/create">Créez un compte ici</a></span>
            </div>
    </section>

{% endblock %}