{% extends "base.html" %}

{% block title %}Page {{user.prenom}}&nbsp;{{user.nom}}{% endblock %}

{% block body %}
{% if session.user_id == id and session.privilege ==2 %}
    <section class="page-user">
        <aside>
            <h2>Données personel</h2>
            <div>
                <ol>
                    <li>Nom : {{ user.nom }}</li>
                    <li>Prenom : {{ user.prenom }}</li>
                    <li>Courriel : {{ user.courriel }}</li>
                </ol>
                <a href="{{ url_racine }}user/update/{{user.id}}">Modifier</a>
            </div>
        </aside>
        <article class="mes_encheres">
            <h2>Mes enchères</h2>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Timbre</th>
                            <th>Prix plancher</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enchere in encheres %}
                        <tr>
                            <td>{{ enchere.id }}</td>
                            <td>{{ enchere.nom }}</td>
                            <td>{{ enchere.prix_plancher }}</td>
                            <td><a href="{{ url_racine }}produit/update/{{ enchere.Produit_id }}">Modifier</a></td>
                            <td><a href="{{ url_racine }}produit/delete/{{ enchere.Produit_id}}">&#10006;</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <a class="bouton" href="{{ url_racine }}produit/create">Ajouter enchére</a>
            </div>
        </article>
        <article class="enchers_favorit">
            <h2>Mon enchères favorit</h2>
            <div>
                {% if enchereFavorite %}
                <table>
                    <thead>
                        <tr>
                            <th>Enchère ID</th>
                            <th>Timbre</th>
                            <th>Date date_debut</th>
                            <th>Date fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enchere in enchereFavorite %}
                        <tr>
                            <td>{{ enchere.Enchere_id}}</td>
                            <td><a href="{{ url_racine }}produit/show/{{ enchere.Produit_id}}">{{ enchere.nom }}</a></td>
                            <td>{{ enchere.date_debut }}</td>
                            <td>{{ enchere.date_fin }}</td>
                            <td><a href="{{ url_racine }}user/offreFavoriteDelete/{{ enchere.Enchere_id }}">&#10006;</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>Vous n'avez pas d'enchères favorit</p>
                {% endif %}
            </div>
        </article>

    </section>
    {% elseif session.privilege == 1 %}
    <section class="page-admin">
        <h2>Administration</h2>
            <table>
                <thead>
                    <tr>
                        <th>Timbre</th>
                        <th>Prix</th>
                        <th>Date fin</th>
                        <th>Coups de coeur</th>
                    </tr>
                </thead>
            {% for enchere in tousEncheres %}
                <tr>
                    <td><a href="{{ url_racine }}produit/show/{{ enchere.Produit_id }}">{{ enchere.nom }}</a></td>
                    <td>{{ enchere.prix_plancher }}</td>
                    <td>{{ enchere.date_fin }}</td>
                    <td><a href="{{ url_racine }}enchere/coupDeCoeur/{{ enchere.id }}">{{ enchere.coup_de_coer }}</a></td>
                </tr>

            {% endfor %}
        </table>
    </section>
    {% else %}
    <section class="access_denied">
        <h1>Vous n'avez pas les droits pour accéder à cette page</h1>
        <picture>
            <img src="{{ url_racine }}/assets/img/icon/icons8-interdit-80.png" alt="interdit">
        </picture>
        <a href="{{ url_racine }}">Retourner à la page d'accueil</a>
    </section>
    {% endif %}



{% endblock %}