{% extends "base.html" %}

{% block title %}Membre{% endblock %}

{% block body %}
{% if session.user_id == id %}
<section class="inscription">

    <h1>Formulaire modification d'utilisteur</h1>
    <form action="store" method="post" class="form_inscription">
        <div>
            <label for="nom">Nom</label>
            <input type="text" name="nom" id="nom" value="{{user.nom}}">
        </div>
        <div>
            <label for="prenom">Prenom</label>
            <input type="text" name="prenom" id="prenom" value="{{user.prenom}}">
        </div>
        <div>
            <label for="courriel">Courriel</label>
            <input type="email" name="courriel" id="courriel" value="{{user.courriel}}">
        </div>
        <div>
            <label for="mot_de_passe">Mot de passe</label>
            <input type="password" name="mot_de_passe" id="mot_de_passe" value="{{user.mot_de_passe}}">
        </div>
        {% else %}
        <section class="access_denied">
            <h1>Vous n'avez pas les droits pour accéder à cette page</h1>
            <picture>
                <img src="{{ url_racine }}/assets/img/icon/icons8-interdit-80.png" alt="interdit">
            </picture>
            <a href="{{ url_racine }}">Retourner à la page d'accueil</a>
        </section>
        {% endif %}

        {% if session.user_privilege == 1 %}
        <div>
            <label for="Privilege_id">Privilege</label>
            <select name="Privilege_id" id="Privilege_id">
                {% for privilege in privileges %}
                    <option value="{{ privilege.id }}" {% if privilege.id == user.Privilege_id %} selected {% endif %}>{{ privilege.privilege_type }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div>
            <input type="submit" value="Modifier">
        </div>
    </form>
        {% endif %}
</section>
{% endblock %}