{% extends "base.html" %}

{% block title %}Ajouter d'un timbre{% endblock %}

{% block body %}

    <section class="ajout_timbre">
        <h1>Ajouter d'un timbre</h1>
        <form action="store" method="post" enctype="multipart/form-data" class="formulaire-timbre">
            {% if errors is defined %}
        
            <ol>
                {% for error in errors %}
                <li class="error">{{error}}</li>
                {% endfor %}
            </ol>
    
            {% endif %}
            <div>
                <label for="nom">Nom</label>
                <input type="text" name="nom" id="nom">
            </div>
            <div>
                <label for="description">Description</label>
                <!-- <input type="text" name="description" id="description"> -->
                <textarea name="description" id="description" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label for="date_creation">Date creation</label>
                <input type="text" name="date_creation" id="date_creation" placeholder="YYYY">
            </div>
            <div>
                <label for="couleurs">Couleurs</label>
                <input type="text" name="couleurs" id="couleurs">
            </div>
            <div>
                <label for="image_principale">Image principale</label>
                <input type="file" name="image_principale" id="image_principale" accept="image/*"">
            </div>
            <div>
                <label for="pays">Pays</label>
                <input type="text" name="pays" id="pays">
            </div>
            <div>
                <label for="tirage">Tirage</label>
                <input type="number" name="tirage" id="tirage">
            </div>
            <div>
                <label for="dimensions">Dimensions</label>
                <input type="text" name="dimensions" id="dimensions">
            </div>
            <div>
                <label for="prix_plancher">Prix</label>
                <input type="number" name="prix_plancher" id="prix_plancher"></div>
            <div>
                <label for="date_debut">Début enchère</label>
                <input type="datetime-local" name="date_debut" id="date_debut">
            </div>
            <div>
                <label for="date_fin">Fin enchère</label>
                <input type="datetime-local" name="date_fin" id="date_fin">
            </div>
            <div>
                <label for="certifie">Certification</label>
                <select name="certifie" id="certifie">
                    <option value="1">Oui</option>
                    <option value="0">Non</option>
                </select>
            </div>
            <div>
                <label for="Condition_id">Condition</label>
                <select name="Condition_id" id="Condition_id">
                    {% for condition in conditions %}
                        <option value="{{ condition.id }}">{{ condition.type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="image">Images secondaire</label>
                <input type="file" name="image[]" multiple id="image" accept="image/*">
            </div>
            <div>
                <input class="bouton" type="submit" value="Enregistrer">
            </div>
        </form>
    </section>

{% endblock %}