{% extends "base.html" %}

{% block title %}Timbre{% endblock %}

{% block body %}

    <h1>Formulaire ajout d'un timbre</h1>
    <form action="store" method="post">
        <div>
            <label for="nom">Nom</label>
            <input type="text" name="nom" id="nom">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" name="description" id="description">
        </div>
        <div>
            <label for="date_creation">Date creation</label>
            <input type="date" name="date_creation" id="date_creation">
        </div>
        <div>
            <label for="couleurs">Couleurs</label>
            <input type="text" name="couleurs" id="couleurs">
        </div>
        <div>
            <label for="pays">Pays</label>
            <input type="text" name="pays" id="pays">
        </div>
        <div>
            <label for="tirage">Tirage</label>
            <input type="number" name="tirage" id="tirage">
        </div>
        <div>
            <label for="dimensions">Dimensions</label>
            <input type="text" name="dimensions" id="dimensions">
        </div>
        <div>
            <label for="certifie">Certification</label>
            <select name="certifie" id="certifie">
                <option value="1">Oui</option>
                <option value="0">Non</option>
            </select>
        </div>
        <div>
            <label for="Condition_id">Condition</label>
            <select name="Condition_id" id="Condition_id">

                {% for condition in conditions %}
                    <option value="{{ condition.id }}">{{ condition.type }}</option>
                {% endfor %}

            </select>
        </div>
        <div>
            <input type="submit" value="Enregistrer">
        </div>

{% endblock %}