{% extends "base.html" %}

{% block title %}Timbre{% endblock %}

{% block body %}

    <!-- <h1>Page user  show {{id}}</h1>
    <table>
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>description</th>
            <th>date creation</th>
            <th>couleurs</th>
            <th>pays</th>
            <th>tirage</th>
            <th>dimensions</th>
            <th>certification</th>
            <th>condition</th>
        </tr>
        <tr>
            <td>{{ produit.id }}</td>
            <td>{{ produit.nom }}</td>
            <td>{{ produit.description }}</td>
            <td>{{ produit.date_creation }}</td>
            <td>{{ produit.couleurs }}</td>
            <td>{{ produit.pays }}</td>
            <td>{{ produit.tirage }}</td>
            <td>{{ produit.dimensions }}</td>
            <td>{{ produit.certifie }}</td>
            <td>{{ produit.Condition_id }}</td>

        </tr>
    </table>
    <a href="../delete/{{id}}">Effacer</a> -->


    <section class="timbre-details">
        <article class="timbre-image">
            <picture>
                <img src="{{ url_racine }}assets/img/upload/{{ produit.image_principale }}" alt="timbre">
            </picture>
            <div class="timbre-images">
                {% for image in images %}
                <img src="{{ url_racine }}assets/img/upload/{{ image.nom_fichier }}" alt="timbre">
                {% endfor %}
            </div>
        </article>
        <article class="timbre-info">
            <header>
                <strong>Offre actuelle</strong>
                <h2><strong>10.50&nbsp;$</strong></h2>
                <p><strong>Mise courante&nbsp;</strong>1 offre</p>
                <div class="timbre-miser">
                    <label for="mise" hidden>Mise</label>
                    <input type="text" id="mise" value="11.00">
                    <button>Miser</button>
                </div>
            </header>
            <div>
                <p><strong>Description&nbsp;</strong> {{ produit.description }}</p>
                <p><strong>Type:&nbsp;</strong>Général</p>
                <p><strong>Condition&nbsp;</strong>Bonne</p>
                <p><strong>Pays d'origine&nbsp;</strong>{{ produit.pays }}</p>
                <p><strong>Année de timbre&nbsp;</strong>{{ produit.date_creation }}</p>
            </div>
            <div>
                <p>Début enchère 01.09.2023</p>
                <p>Fin enchère 01.10.2023</p>

            </div>
        </article>
    </section>
{% endblock %}