{% extends "base.html" %}

{% block title %}{{ produit.nom }} {% endblock %}

{% block body %}


    <header class="entete-timbre">
        <div class="timbre-titre">
            <h2>Lot {{ produit.nom }}</h2>
            <p>Lot # {{ produit.id }} | En cours</p>
        </div>
        <a href="{{ url_racine }}enchere/index">&#60;&nbsp;retour au catalogue d'encheres</a>
    </header>
    <main>

    <section class="timbre-details">
        <article class="timbre-image">
            <picture>
                <img src="{{ url_racine }}assets/img/upload/{{ produit.image_principale }}" alt="timbre">
            </picture>
            <div class="timbre-images">
                {% for image in images %}
                <img src="{{ url_racine }}assets/img/upload/{{ image.nom_fichier }}" alt="timbre">
                {% endfor %}
            </div>
        </article>
        <article class="timbre-info">
            <header>
                <strong>Offre actuelle</strong>
                <h2><strong>{{produit.prix_plancher}}&nbsp;$</strong></h2>
                <p><strong>Mise courante&nbsp;</strong>{{produit.offresCount}}</p>

                {% if session.user_id == produit.membreId %}
                <a href="{{ url_racine }}produit/update/{{ produit.id }}" class="bouton">Modifier</a>
                {% else %}
                
                <form class="timbre-miser" action="" method="post">
                    <label for="mise" hidden>Mise</label>
                    <input type="text" id="mise" value="{{produit.prix_plancher+1}}">
                    <input class="bouton" type="submit" value="Miser">
                </form>
                {% endif %}
            </header>
            <div>   
                <p><strong>Description&nbsp;</strong> {{ produit.description }}</p>
                <p><strong>Type&nbsp;</strong>{{ produit.type }}</p>
                <p><strong>Condition&nbsp;</strong>{{ produit.condition }}</p>
                <p><strong>Pays d'origine&nbsp;</strong>{{ produit.pays }}</p>
                <p><strong>Année de timbre&nbsp;</strong>{{ produit.date_creation }}</p>
            </div>
            <div>
                <p><strong>Début enchère&nbsp;</strong>{{ produit.date_debut }}</p>
                <p><strong>Fin enchère&nbsp;</strong>{{ produit.date_fin }}</p>
            </div>
        </article>
    </section>
    </main>
{% endblock %}