.recherche_resultats li {
    list-style: inside all;
    margin-top: var(--space-s);
    padding: var(--space-s);
}
.recherche_resultats small {
    display: block;
    margin-top: var(--space-xl);
}