<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="des timbres du monde entier, inscrivez-vous dès maintenant pour consulter le catalogue complet et miser">
    <meta name="keywords" content="timbres, enchère">
    <meta name="author" content="Rostyslav Luchyshyn">
    <link rel="stylesheet" href="{{ url_racine }}assets/css/styles.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <input type="checkbox" class="declencheur menu">
    <nav id="navigation-principale">
        <header>
            <a href="{{ url_racine }}"><img src="{{ url_racine }}assets/img/logo/logo-1-alt.png" alt="logo"
                    class="logo"></a>
        </header>
        <form class="champ_recherche" action="{{ url_racine }}enchere/search" method="get">
            <label for="rechercher" hidden>Recherche</label>
            <input type="search" placeholder="rechercher les timbres par nom" name="rechercher" id="rechercher">
        </form>
        <div class="liens_page">
            <a href="#">Notre mission</a>
            <a href="#">Présentation de Lord Stampee</a>
            <a href="{{ url_racine }}enchere/encheresActuel">Offres en cours</a>
            <a href="{{ url_racine }}enchere/index">Catalogue d'enchères</a>
            <a href="#">Contactez-nous</a>
        </div>
        <div class="utilisateur">
            <a href="#"><img src="{{ url_racine }}assets/img/logo/cart2.png" alt="panier"></a>
            <a href="{{ url_racine }}user/login"><img src="{{ url_racine }}assets/img/logo/user.png" alt="utilisateur"></a>
        </div>
    </nav>
    {% if session.user_nom %}<span class="user_logged">Bienvenue &nbsp;<a href="{{ url_racine }}user/show/{{ session.user_id }}">{{ session.user_nom}}&nbsp;</a> <a href="{{ url_racine }}user/logout">Quitter</a></span>{% endif %}
    {% block body %}
    {% endblock %}
    <footer>
        <div class="logo-stampee">
            <img src="{{ url_racine }}assets/img/logo/logo-1-alt.png" alt="logo">
        </div>
        <section>
            <article class="liens-rapide">
                <h2 class="footer-categorie-titre">Liens rapides</h2>
                <div class="block">
                    <a href="#">Devenir membre</a>
                    <a href="#">Actualités récentes</a>
                    <a href="#">Offres en cours</a>
                    <a href="#">Termes et conditions</a>
                </div>
            </article>
            <article class="social">
                <h2 class="footer-categorie-titre">Suivez nous sur</h2>
                <div class="block">
                    <a href="#"><img src="{{ url_racine }}assets/img/logo/social/facebook_logo.png" alt="icon-facebook"></a>
                    <a href="#"><img src="{{ url_racine }}assets/img/logo/social/twitter_icon.png" alt="icon-twitter"></a>
                    <a href="#"><img src="{{ url_racine }}assets/img/logo/social/youtube_logo.png" alt="icon-youtube"></a>
                    <a href="#"><img src="{{ url_racine }}assets/img/logo/social/instagram_logo.png" alt="icon-instagram"></a>
                </div>
            </article>
            <article class="contact">
                <h2 class="footer-categorie-titre">Contactez-nous</h2>
                <div class="block">
                    <a href="#">Angleterre</a>
                    <a href="#">Canada</a>
                    <a href="#">US</a>
                    <a href="#">Australie</a>
                </div>
            </article>
        </section>
    </footer>
</body>

</html>